@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section_subheader {
  margin-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: #0c0a09;
}

.section_header {
  max-width: 600px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: #0c0a09;
}

.section_description {
  max-width: 600px;
  margin-bottom: 1rem;
  color: #78716c;
}


.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #4c6a5e;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #254734;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  max-width: 120px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("assets/cover.jpg");
  background-position: center center;
  background-size: 1750px;
}

nav {
  isolation: isolate;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  z-index: 9;
  padding: 2rem 1rem;
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_bar {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: transparent;
}

.nav_links {
  position: static;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  z-index: -1;
  padding: 0;
  width: unset;
  list-style-type: none;
}

.nav_links a {
  position: relative;
  padding: 0.5rem 1rem;
  color: #192039;
  border-radius: 5px;
}

.nav_links a:hover {
  background-color: #4c6a5e;
  color: #ffffff;
}

.nav_btn {
  background-color: #4c6a5e;
}

.nav_btn:hover {
  background-color: #4c6a5e;
}

.header_container {
  padding-block: 10rem 15rem;
}

.header_container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
  opacity: 0.6;
}

.header_container h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.5rem;
  color: #7f998f;
}

.header_container h1 span {
  color: #4c6a5e;
}

.about_container {
  overflow: hidden;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about_image img {
  max-width: 450px;
  margin: auto;
  border-radius: 5px;
}

.product_grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.product_card {
  overflow: hidden;
  border-radius: 5px;
}

.product_card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0a09;
}

.product_card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #0c0a09;
}

.product_card h5 span {
  font-size: 1.1rem;
  color: #0c0a09;
}

.product_card_image {
  position: relative;
  isolation: isolate;
}

.product_card_details {
  padding: 1rem;
}

.deals {
  background-image: url("assets/combo.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.deals_container {
  padding-block: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.deals_content {
  grid-column: 2/3;
  padding: 2rem 4rem;
  background-color: #ffffff;
}

.deals_list {
  list-style: none;
  margin-top: 2rem;
  display: grid;
  gap: 2rem;
}

.deals_list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #0c0a09;
}

.deals_list span {
  padding: 5px 12px;
  font-size: 1.75rem;
  color: #0c0a09;
  background-color: #0c0a09;
  border-radius: 100%;
}

.deals_list li:nth-child(1) span {
  color: #508D4E;
  background-color: #eff0ef;
}

.deals_list li:nth-child(2) span {
  color: #EEC759;
  background-color: #e9f5e9;
}

.deals_list li:nth-child(3) span {
  color: #BC9F8B;
  background-color: #eff0ef;
}

.footer {
  background-color: #e3e8e7;
}

.footer_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 2rem;
}

.footer_col .section_description {
  margin-block: 2rem;
}

.footer_col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #4c6a5e;
}

.footer_links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer_links a {
  color: #78716c;
}

.footer_links a:hover {
  color: #ffffff;
}

.footer_socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer_socials img {
  max-width: 25px;
  opacity: 0.8;
}

.footer_socials img:hover {
  opacity: 1;
}